<div class="col-6">

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                <%= plan.title %>
            </h4>
            <% if (isMyPlan) { %>
                <a href="/plan/mod/<%= plan.id %>" class="btn btn-primary">Edit</a>
                <a href="/plan/del/<%= plan.id %>" class="btn btn-danger">Delete</a>
            <% } %>
            <% if (!plan.marked) { %>
                <a href="/plan/mark/<%= plan.id %>" class="btn btn-success btn-sm">Mark plan</a>
            <% } %>
            <% if (plan.marked) { %>
                <a href="/plan/unmark/<%= plan.id %>" class="btn btn-danger btn-sm">Unmark plan</a>
            <% } %>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <%= plan._user.email %>
            </h5>
            <p class="card-text">
                <%= plan.description %>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Lenght:
                <%= plan.length %>
            </li>
            <li class="list-group-item">Difficulty:
                <%= plan.difficulty %>
            </li>
        </ul>
        <div class="card-footer">
            <a href="/comment/add/<%= plan.id %>" class="btn btn-success btn-sm">Add comment</a>
            <a href="/comment/<%= plan.id %>" class="btn btn-info btn-sm">View comments</a>
        </div>
    </div>

</div>